
vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

box-shadow()
  vendor("box-shadow", arguments)
  
border-radius()
  vendor('border-radius', arguments)

box-shadow()
  vendor('box-shadow', arguments)

box-sizing()
  vendor('box-sizing', arguments)

transition()
  vendor("transition", arguments)

transform()
  vendor("transform", arguments)

transform-origin()
  vendor("transform-origin", arguments)

flex-flow()
  vendor("flex-flow", arguments)

flex()
  vendor("flex", arguments)

justify-content()
  vendor("justify-content", arguments)

align-content()
  vendor("align-content", arguments)

align-items()
  vendor("align-items", arguments)

display(val)
  if val == flex
    {"display"} -webkit-flex
  {"display"} val

columns()
  vendor("columns", arguments)

column-break-inside()
  -webkit-column-break-inside arguments /* Chrome, Safari, Opera */
  page-break-inside arguments /* Firefox */
  break-inside arguments /* IE 10+ */

column-gap()
  vendor("column-gap", arguments)
