button(size="default")
  display inline-block
  border-radius 0.5rem
  vertical-align middle
  text-align center

  if size is "smaller"
    padding 0.5rem
    min-width 4rem
    rhythm 1 1rem
    font-weight 400
    border 1px solid
  else if size is "larger"
    padding 1.5rem
    min-width 10rem
    rhythm 1 3rem
  else
    min-width 6rem
    padding 1rem
    rhythm 1 2rem
    font-weight 700
    border 2px solid


// TODO: These will get phased out
.button
  button()

  &.small
    button("smaller")

  &.large
    button("larger")