header(size="default")
  display inline-block
  border-radius 0.5rem
  vertical-align middle
  text-align center
  if size is "small"
    min-width 4rem
    rhythm 1 1rem
    font-weight 400
  else if size is "large"
    min-width 10rem
    rhythm 1 3rem
  else
    min-width 6rem
    rhythm 1 2rem
    font-weight 700

header
  header()

  &.small
    header("small")

  &.large
    header("large")