highlight(fg, bg)
  color fg
  background bg
  border-color darken(bg, 10%)

  &:hover
    color lighten(fg, 10%)
    background lighten(bg, 10%)
    border-color bg

// success()
//   highlight(colors-success-foreground, colors-success-background)
//
// warn()
//   highlight(colors-warn-foreground, colors-warn-background)
//
// alert()
//   highlight(colors-alert-foreground, colors-alert-background)
//
// .success
//   success()
//
// .warn
//   warn()
//
// .alert
//   alert()
