
vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

border-radius()
  vendor('border-radius', arguments)
  
box-shadow()
  vendor('box-shadow', arguments)

box-sizing()
  vendor('box-sizing', arguments)

transition()
  vendor("transition", arguments)

transform()
  vendor("transform", arguments)

transform-origin()
  vendor("transform-origin", arguments)