// See http://ionicons.com/ for glyphs


glyph()
  font-family 'ionicons'
  padding-left 0.5rem
  padding-right 0.5rem
  vertical-align bottom
  speak none
  font-style normal
  font-weight normal
  font-variant normal
  text-transform none
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

glyph-folder()
  &:before
    glyph()
    content "\e60c"

glyph-flag()
  &:before
    glyph()
    content "\e619"

glyph-partlysunny()
  &:before
    glyph()
    content "\e626"

glyph-personadd-outline()
  &:before
    glyph()
    content "\e633"

glyph-filing()
  &:before
    glyph()
    content "\e640"

glyph-heart-outline()
  &:before
    glyph()
    content "\e64d"

glyph-film-outline()
  &:before
    glyph()
    content "\e65a"

glyph-fastforward()
  &:before
    glyph()
    content "\e667"

glyph-cloud-download()
  &:before
    glyph()
    content "\e674"

glyph-plus-empty()
  &:before
    glyph()
    content "\e681"

glyph-plus()
  &:before
    glyph()
    content "\e682"

glyph-plus-outline()
  &:before
    glyph()
    content "\e683"

glyph-checkmark-empty()
  &:before
    glyph()
    content "\e684"

glyph-checkmark()
  &:before
    glyph()
    content "\e685"

glyph-checkmark-outline()
  &:before
    glyph()
    content "\e686"

glyph-help-empty()
  &:before
    glyph()
    content "\e687"

glyph-help()
  &:before
    glyph()
    content "\e688"

glyph-help-outline()
  &:before
    glyph()
    content "\e689"

glyph-information-empty()
  &:before
    glyph()
    content "\e68a"

glyph-information()
  &:before
    glyph()
    content "\e68b"

glyph-information-outline()
  &:before
    glyph()
    content "\e68c"

glyph-circle-filled()
  &:before
    glyph()
    content "\e68d"

glyph-circle-outline()
  &:before
    glyph()
    content "\e68e"

glyph-trash-outline()
  &:before
    glyph()
    content "\e68f"

glyph-more()
  &:before
    glyph()
    content "\e690"

glyph-more-outline()
  &:before
    glyph()
    content "\e691"

glyph-upload()
  &:before
    glyph()
    content "\e692"

glyph-upload-outline()
  &:before
    glyph()
    content "\e693"

glyph-download()
  &:before
    glyph()
    content "\e694"

glyph-download-outline()
  &:before
    glyph()
    content "\e695"

glyph-search-strong()
  &:before
    glyph()
    content "\e696"

glyph-search()
  &:before
    glyph()
    content "\e697"

glyph-navigate()
  &:before
    glyph()
    content "\e698"

glyph-navigate-outline()
  &:before
    glyph()
    content "\e699"

glyph-copy()
  &:before
    glyph()
    content "\e69a"

glyph-copy-outline()
  &:before
    glyph()
    content "\e69b"

glyph-photos()
  &:before
    glyph()
    content "\e69c"

glyph-photos-outline()
  &:before
    glyph()
    content "\e69d"

glyph-albums()
  &:before
    glyph()
    content "\e69e"

glyph-albums-outline()
  &:before
    glyph()
    content "\e69f"

glyph-world()
  &:before
    glyph()
    content "\e6a0"

glyph-world-outline()
  &:before
    glyph()
    content "\e6a1"

glyph-recording()
  &:before
    glyph()
    content "\e6a2"

glyph-recording-outline()
  &:before
    glyph()
    content "\e6a3"

glyph-keypad()
  &:before
    glyph()
    content "\e6a4"

glyph-keypad-outline()
  &:before
    glyph()
    content "\e6a5"

glyph-contact()
  &:before
    glyph()
    content "\e6a6"

glyph-contact-outline()
  &:before
    glyph()
    content "\e6a7"

glyph-clock()
  &:before
    glyph()
    content "\e6a8"

glyph-clock-outline()
  &:before
    glyph()
    content "\e6a9"

glyph-star()
  &:before
    glyph()
    content "\e6aa"

glyph-star-outline()
  &:before
    glyph()
    content "\e6ab"

glyph-compose-outline()
  &:before
    glyph()
    content "\e6ac"

glyph-wineglass()
  &:before
    glyph()
    content "\e6ad"

glyph-pie()
  &:before
    glyph()
    content "\e6ae"

glyph-pie-outline()
  &:before
    glyph()
    content "\e6af"

glyph-reload()
  &:before
    glyph()
    content "\e6b0"

glyph-wineglass-outline()
  &:before
    glyph()
    content "\e6b1"

glyph-medkit()
  &:before
    glyph()
    content "\e6b2"

glyph-medkit-outline()
  &:before
    glyph()
    content "\e6b3"

glyph-briefcase-outline()
  &:before
    glyph()
    content "\e6b4"

glyph-briefcase()
  &:before
    glyph()
    content "\e6b5"

glyph-pricetag()
  &:before
    glyph()
    content "\e6b6"

glyph-pricetag-outline()
  &:before
    glyph()
    content "\e6b7"

glyph-speedometer()
  &:before
    glyph()
    content "\e6b8"

glyph-speedometer-outline()
  &:before
    glyph()
    content "\e6b9"

glyph-lightbulb()
  &:before
    glyph()
    content "\e6ba"

glyph-lightbulb-outline()
  &:before
    glyph()
    content "\e6bb"

glyph-calculator()
  &:before
    glyph()
    content "\e6bc"

glyph-calculator-outline()
  &:before
    glyph()
    content "\e6bd"

glyph-arrow-thin-left()
  &:before
    glyph()
    content "\e6be"

glyph-arrow-thin-down()
  &:before
    glyph()
    content "\e6bf"

glyph-arrow-thin-right()
  &:before
    glyph()
    content "\e6c0"

glyph-arrow-thin-up()
  &:before
    glyph()
    content "\e6c1"

glyph-time()
  &:before
    glyph()
    content "\e6c2"

glyph-time-outline()
  &:before
    glyph()
    content "\e6c3"

glyph-volume-mute()
  &:before
    glyph()
    content "\e6c4"

glyph-thumbsdown()
  &:before
    glyph()
    content "\e6c5"

glyph-thumbsup()
  &:before
    glyph()
    content "\e6c6"

glyph-calendar()
  &:before
    glyph()
    content "\e6c7"

glyph-images()
  &:before
    glyph()
    content "\e6c8"

glyph-film-marker()
  &:before
    glyph()
    content "\e6c9"

glyph-game-controller-b()
  &:before
    glyph()
    content "\e6ca"

glyph-game-controller-a()
  &:before
    glyph()
    content "\e6cb"

glyph-man()
  &:before
    glyph()
    content "\e6cc"

glyph-archive()
  &:before
    glyph()
    content "\e6cd"

glyph-trash-b()
  &:before
    glyph()
    content "\e6ce"

glyph-trash-a()
  &:before
    glyph()
    content "\e6cf"

glyph-folder()
  &:before
    glyph()
    content "\e6d0"

glyph-alert-circled()
  &:before
    glyph()
    content "\e6d1"

glyph-information-circled()
  &:before
    glyph()
    content "\e6d2"

glyph-minus-circled()
  &:before
    glyph()
    content "\e6d3"

glyph-plus-circled()
  &:before
    glyph()
    content "\e6d4"

glyph-link()
  &:before
    glyph()
    content "\e6d5"

glyph-eject()
  &:before
    glyph()
    content "\e6d6"

glyph-skip-backward()
  &:before
    glyph()
    content "\e6d7"

glyph-skip-forward()
  &:before
    glyph()
    content "\e6d8"

glyph-iphone()
  &:before
    glyph()
    content "\e6d9"

glyph-ipad()
  &:before
    glyph()
    content "\e6da"

glyph-ipod()
  &:before
    glyph()
    content "\e6db"

glyph-alert()
  &:before
    glyph()
    content "\e6dc"

glyph-arrow-right-a()
  &:before
    glyph()
    content "\e6dd"

glyph-arrow-up-a()
  &:before
    glyph()
    content "\e6de"

glyph-arrow-left-a()
  &:before
    glyph()
    content "\e6df"

glyph-arrow-down-a()
  &:before
    glyph()
    content "\e6e0"

glyph-ionic()
  &:before
    glyph()
    content "\e6e1"

glyph-plane()
  &:before
    glyph()
    content "\e6e2"

glyph-flask()
  &:before
    glyph()
    content "\e6e3"

glyph-card()
  &:before
    glyph()
    content "\e6e4"

glyph-bag()
  &:before
    glyph()
    content "\e6e5"

glyph-map()
  &:before
    glyph()
    content "\e6e6"

glyph-clipboard()
  &:before
    glyph()
    content "\e6e7"

glyph-pound()
  &:before
    glyph()
    content "\e6e8"

glyph-at()
  &:before
    glyph()
    content "\e6e9"

glyph-image()
  &:before
    glyph()
    content "\e6ea"

glyph-mic-c()
  &:before
    glyph()
    content "\e6eb"

glyph-mic-b()
  &:before
    glyph()
    content "\e6ec"

glyph-waterdrop()
  &:before
    glyph()
    content "\e6ed"

glyph-record()
  &:before
    glyph()
    content "\e6ee"

glyph-stop()
  &:before
    glyph()
    content "\e6ef"

glyph-pause()
  &:before
    glyph()
    content "\e6f0"

glyph-play()
  &:before
    glyph()
    content "\e6f1"

glyph-volume-low()
  &:before
    glyph()
    content "\e6f2"

glyph-volume-medium()
  &:before
    glyph()
    content "\e6f3"

glyph-volume-high()
  &:before
    glyph()
    content "\e6f4"

glyph-mic-a()
  &:before
    glyph()
    content "\e6f5"

glyph-music-note()
  &:before
    glyph()
    content "\e6f6"

glyph-headphone()
  &:before
    glyph()
    content "\e6f7"

glyph-disc()
  &:before
    glyph()
    content "\e6f8"

glyph-videocamera()
  &:before
    glyph()
    content "\e6f9"

glyph-printer()
  &:before
    glyph()
    content "\e6fa"

glyph-laptop()
  &:before
    glyph()
    content "\e6fb"

glyph-monitor()
  &:before
    glyph()
    content "\e6fc"

glyph-flash-off()
  &:before
    glyph()
    content "\e6fd"

glyph-flash()
  &:before
    glyph()
    content "\e6fe"

glyph-eye()
  &:before
    glyph()
    content "\e6ff"

glyph-camera()
  &:before
    glyph()
    content "\e700"

glyph-bluetooth()
  &:before
    glyph()
    content "\e701"

glyph-wifi()
  &:before
    glyph()
    content "\e702"

glyph-battery-charging()
  &:before
    glyph()
    content "\e703"

glyph-battery-empty()
  &:before
    glyph()
    content "\e704"

glyph-battery-low()
  &:before
    glyph()
    content "\e705"

glyph-battery-half()
  &:before
    glyph()
    content "\e706"

glyph-battery-full()
  &:before
    glyph()
    content "\e707"

glyph-woman()
  &:before
    glyph()
    content "\e708"

glyph-person-stalker()
  &:before
    glyph()
    content "\e709"

glyph-person-add()
  &:before
    glyph()
    content "\e70a"

glyph-person()
  &:before
    glyph()
    content "\e70b"

glyph-chatboxes()

glyph-chatbox-working()
  &:before
    glyph()
    content "\e70d"

glyph-chatbox()
  &:before
    glyph()
    content "\e70e"

glyph-chatbubbles()
  &:before
    glyph()
    content "\e70f"

glyph-chatbubble-working()
  &:before
    glyph()
    content "\e710"

glyph-chatbubble()
  &:before
    glyph()
    content "\e711"

glyph-unlocked()
  &:before
    glyph()
    content "\e712"

glyph-locked()
  &:before
    glyph()
    content "\e713"

glyph-more()
  &:before
    glyph()
    content "\e714"

glyph-grid()
  &:before
    glyph()
    content "\e715"

glyph-upload()
  &:before
    glyph()
    content "\e716"

glyph-cloud()
  &:before
    glyph()
    content "\e717"

glyph-location()
  &:before
    glyph()
    content "\e718"

glyph-compose()
  &:before
    glyph()
    content "\e719"

glyph-paperclip()
  &:before
    glyph()
    content "\e71a"

glyph-share()
  &:before
    glyph()
    content "\e71b"

glyph-email()
  &:before
    glyph()
    content "\e71c"

glyph-reply-all()
  &:before
    glyph()
    content "\e71d"

glyph-forward()
  &:before
    glyph()
    content "\e71e"

glyph-reply()
  &:before
    glyph()
    content "\e71f"

glyph-filing()
  &:before
    glyph()
    content "\e720"

glyph-document-text()
  &:before
    glyph()
    content "\e721"

glyph-document()
  &:before
    glyph()
    content "\e722"

glyph-gear-b()
  &:before
    glyph()
    content "\e723"

glyph-gear-a()
  &:before
    glyph()
    content "\e724"

glyph-help-circled()
  &:before
    glyph()
    content "\e725"

glyph-help()
  &:before
    glyph()
    content "\e726"

glyph-information()
  &:before
    glyph()
    content "\e727"

glyph-minus()
  &:before
    glyph()
    content "\e728"

glyph-minus-round()
  &:before
    glyph()
    content "\e729"

glyph-plus()
  &:before
    glyph()
    content "\e72a"

glyph-plus-round()
  &:before
    glyph()
    content "\e72b"

glyph-drag()
  &:before
    glyph()
    content "\e72c"

glyph-navicon()
  &:before
    glyph()
    content "\e72d"

glyph-navglyph-round()
  &:before
    glyph()
    content "\e72e"

glyph-heart()
  &:before
    glyph()
    content "\e72f"

glyph-star()
  &:before
    glyph()
    content "\e730"

glyph-search()
  &:before
    glyph()
    content "\e731"

glyph-home()
  &:before
    glyph()
    content "\e732"

glyph-shuffle()
  &:before
    glyph()
    content "\e733"

glyph-loop()
  &:before
    glyph()
    content "\e734"

glyph-close-circled()
  &:before
    glyph()
    content "\e735"

glyph-close()
  &:before
    glyph()
    content "\e736"

glyph-close-round()
  &:before
    glyph()
    content "\e737"

glyph-checkmark-circled()
  &:before
    glyph()
    content "\e738"

glyph-checkmark()
  &:before
    glyph()
    content "\e739"

glyph-checkmark-round()
  &:before
    glyph()
    content "\e73a"

glyph-chevron-left()
  &:before
    glyph()
    content "\e73b"

glyph-chevron-right()
  &:before
    glyph()
    content "\e73c"

glyph-chevron-down()
  &:before
    glyph()
    content "\e73d"

glyph-chevron-up()
  &:before
    glyph()
    content "\e73e"

glyph-arrow-down-c()
  &:before
    glyph()
    content "\e73f"

glyph-arrow-up-c()
  &:before
    glyph()
    content "\e740"

glyph-arrow-right-c()
  &:before
    glyph()
    content "\e741"

glyph-arrow-left-c()
  &:before
    glyph()
    content "\e742"

glyph-arrow-left-b()
  &:before
    glyph()
    content "\e743"

glyph-arrow-down-b()
  &:before
    glyph()
    content "\e744"

glyph-arrow-right-b()
  &:before
    glyph()
    content "\e745"

glyph-arrow-up-b()
  &:before
    glyph()
    content "\e746"

glyph-refresh()
  &:before
    glyph()
    content "\e747"

glyph-leaf()
  &:before
    glyph()
    content "\e748"

glyph-briefcase()
  &:before
    glyph()
    content "\e749"

glyph-clock()
  &:before
    glyph()
    content "\e74a"

glyph-thermometer()
  &:before
    glyph()
    content "\e74b"

glyph-wrench()
  &:before
    glyph()
    content "\e74c"

glyph-medkit()
  &:before
    glyph()
    content "\e74d"

glyph-wineglass()
  &:before
    glyph()
    content "\e74e"

glyph-load-d()
  &:before
    glyph()
    content "\e74f"

glyph-load-c()
  &:before
    glyph()
    content "\e750"

glyph-load-b()
  &:before
    glyph()
    content "\e751"

glyph-load-a()
  &:before
    glyph()
    content "\e752"

glyph-umbrella()
  &:before
    glyph()
    content "\e753"

glyph-coffee()
  &:before
    glyph()
    content "\e754"

glyph-pizza()
  &:before
    glyph()
    content "\e755"

glyph-icecream()
  &:before
    glyph()
    content "\e756"

glyph-spoon()
  &:before
    glyph()
    content "\e757"

glyph-fork()
  &:before
    glyph()
    content "\e758"

glyph-knife()
  &:before
    glyph()
    content "\e759"

glyph-earth()
  &:before
    glyph()
    content "\e75a"

glyph-egg()
  &:before
    glyph()
    content "\e75b"

glyph-pie-graph()
  &:before
    glyph()
    content "\e75c"

glyph-magnet()
  &:before
    glyph()
    content "\e75d"

glyph-help-buoy()
  &:before
    glyph()
    content "\e75e"

glyph-nuclear()
  &:before
    glyph()
    content "\e75f"

glyph-beaker()
  &:before
    glyph()
    content "\e760"

glyph-pricetags()
  &:before
    glyph()
    content "\e761"

glyph-pricetag()
  &:before
    glyph()
    content "\e762"

glyph-settings()
  &:before
    glyph()
    content "\e763"

glyph-hammer()
  &:before
    glyph()
    content "\e764"

glyph-power()
  &:before
    glyph()
    content "\e765"

glyph-female()
  &:before
    glyph()
    content "\e766"

glyph-male()
  &:before
    glyph()
    content "\e767"

glyph-pinpoint()
  &:before
    glyph()
    content "\e768"

glyph-pin()
  &:before
    glyph()
    content "\e769"

glyph-navigate()
  &:before
    glyph()
    content "\e76a"

glyph-flag()
  &:before
    glyph()
    content "\e76b"

glyph-code-download()
  &:before
    glyph()
    content "\e76c"

glyph-code-working()
  &:before
    glyph()
    content "\e76d"

glyph-code()
  &:before
    glyph()
    content "\e76e"

glyph-usb()
  &:before
    glyph()
    content "\e76f"

glyph-bookmark()
  &:before
    glyph()
    content "\e770"

glyph-key()
  &:before
    glyph()
    content "\e771"

glyph-lightbulb()
  &:before
    glyph()
    content "\e772"

glyph-calculator()
  &:before
    glyph()
    content "\e773"

glyph-speakerphone()
  &:before
    glyph()
    content "\e774"

glyph-contrast()
  &:before
    glyph()
    content "\e775"

glyph-accelerate()
  &:before
    glyph()
    content "\e776"

glyph-speedometer()
  &:before
    glyph()
    content "\e777"

glyph-compass()
  &:before
    glyph()
    content "\e778"

glyph-radio-waves()
  &:before
    glyph()
    content "\e779"

glyph-log-out()
  &:before
    glyph()
    content "\e77a"

glyph-log-in()
  &:before
    glyph()
    content "\e77b"

glyph-levels()
  &:before
    glyph()
    content "\e77c"

glyph-connection-bars()
  &:before
    glyph()
    content "\e77d"

glyph-stats-bars()
  &:before
    glyph()
    content "\e77e"

glyph-arrow-graph-up()
  &:before
    glyph()
    content "\e77f"

glyph-arrow-graph-down()
  &:before
    glyph()
    content "\e780"

glyph-arrow-resize()
  &:before
    glyph()
    content "\e781"

glyph-arrow-move()
  &:before
    glyph()
    content "\e782"

glyph-arrow-expand()
  &:before
    glyph()
    content "\e783"

glyph-arrow-shrink()
  &:before
    glyph()
    content "\e784"

glyph-arrow-swap()
  &:before
    glyph()
    content "\e785"

glyph-arrow-return-left()
  &:before
    glyph()
    content "\e786"

glyph-arrow-return-right()
  &:before
    glyph()
    content "\e787"

glyph-social-android-outline()
  &:before
    glyph()
    content "\e788"

glyph-social-android()
  &:before
    glyph()
    content "\e789"

glyph-social-dropbox()
  &:before
    glyph()
    content "\e78a"

glyph-social-dropbox-outline()
  &:before
    glyph()
    content "\e78b"

glyph-social-designernews()
  &:before
    glyph()
    content "\e78c"

glyph-social-designernews-outline()
  &:before
    glyph()
    content "\e78d"

glyph-social-hackernews()
  &:before
    glyph()
    content "\e78e"

glyph-social-hackernews-outline()
  &:before
    glyph()
    content "\e78f"

glyph-social-windows()
  &:before
    glyph()
    content "\e790"

glyph-social-windows-outline()
  &:before
    glyph()
    content "\e791"

glyph-social-apple()
  &:before
    glyph()
    content "\e792"

glyph-social-apple-outline()
  &:before
    glyph()
    content "\e793"

glyph-social-youtube()
  &:before
    glyph()
    content "\e794"

glyph-social-youtube-outline()
  &:before
    glyph()
    content "\e795"

glyph-social-linkedin()
  &:before
    glyph()
    content "\e796"

glyph-social-linkedin-outline()
  &:before
    glyph()
    content "\e797"

glyph-social-skype()
  &:before
    glyph()
    content "\e798"

glyph-social-skype-outline()
  &:before
    glyph()
    content "\e799"

glyph-social-vimeo()
  &:before
    glyph()
    content "\e79a"

glyph-social-vimeo-outline()
  &:before
    glyph()
    content "\e79b"

glyph-social-buffer()
  &:before
    glyph()
    content "\e79c"

glyph-social-buffer-outline()
  &:before
    glyph()
    content "\e79d"

glyph-social-yahoo()
  &:before
    glyph()
    content "\e79e"

glyph-social-yahoo-outline()
  &:before
    glyph()
    content "\e79f"

glyph-social-reddit()
  &:before
    glyph()
    content "\e7a0"

glyph-social-reddit-outline()
  &:before
    glyph()
    content "\e7a1"

glyph-social-wordpress()
  &:before
    glyph()
    content "\e7a2"

glyph-social-wordpress-outline()
  &:before
    glyph()
    content "\e7a3"

glyph-social-tumblr()
  &:before
    glyph()
    content "\e7a4"

glyph-social-tumblr-outline()
  &:before
    glyph()
    content "\e7a5"

glyph-social-rss()
  &:before
    glyph()
    content "\e7a6"

glyph-social-rss-outline()
  &:before
    glyph()
    content "\e7a7"

glyph-social-github()
  &:before
    glyph()
    content "\e7a8"

glyph-social-github-outline()
  &:before
    glyph()
    content "\e7a9"

glyph-social-dribbble()
  &:before
    glyph()
    content "\e7aa"

glyph-social-dribbble-outline()
  &:before
    glyph()
    content "\e7ab"

glyph-social-googleplus()
  &:before
    glyph()
    content "\e7ac"

glyph-social-googleplus-outline()
  &:before
    glyph()
    content "\e7ad"

glyph-social-facebook()
  &:before
    glyph()
    content "\e7ae"

glyph-social-facebook-outline()
  &:before
    glyph()
    content "\e7af"

glyph-social-twitter()
  &:before
    glyph()
    content "\e7b0"

glyph-social-twitter-outline()
  &:before
    glyph()
    content "\e7b1"

glyph-social-pinterest()
  &:before
    glyph()
    content "\e7b2"

glyph-social-pinterest-outline()
  &:before
    glyph()
    content "\e7b3"

glyph-social-bitcoin()
  &:before
    glyph()
    content "\e7b4"

glyph-social-bitcoin-outline()
  &:before
    glyph()
    content "\e7b5"

glyph-at-outline()
  &:before
    glyph()
    content "\e600"

glyph-bookmarks()
  &:before
    glyph()
    content "\e601"

glyph-bookmarks-outline()
  &:before
    glyph()
    content "\e602"

glyph-at()
  &:before
    glyph()
    content "\e603"

glyph-stopwatch()
  &:before
    glyph()
    content "\e604"

glyph-stopwatch-outline()
  &:before
    glyph()
    content "\e605"

glyph-timer()
  &:before
    glyph()
    content "\e606"

glyph-timer-outline()
  &:before
    glyph()
    content "\e607"

glyph-alarm()
  &:before
    glyph()
    content "\e608"

glyph-alarm-outline()
  &:before
    glyph()
    content "\e609"

glyph-rainy()
  &:before
    glyph()
    content "\e60a"

glyph-rainy-outline()
  &:before
    glyph()
    content "\e60b"

glyph-eye-outline()
  &:before
    glyph()
    content "\e60d"

glyph-gear-outline()
  &:before
    glyph()
    content "\e60e"

glyph-gear()
  &:before
    glyph()
    content "\e60f"

glyph-box-outline()
  &:before
    glyph()
    content "\e610"

glyph-box()
  &:before
    glyph()
    content "\e611"

glyph-drag()
  &:before
    glyph()
    content "\e612"

glyph-ionic-outline()
  &:before
    glyph()
    content "\e613"

glyph-printer-outline()
  &:before
    glyph()
    content "\e614"

glyph-trash()
  &:before
    glyph()
    content "\e615"

glyph-flag-outline()
  &:before
    glyph()
    content "\e616"

glyph-glasses()
  &:before
    glyph()
    content "\e617"

glyph-glasses-outline()
  &:before
    glyph()
    content "\e618"

glyph-infinite()
  &:before
    glyph()
    content "\e61a"

glyph-infinite-outline()
  &:before
    glyph()
    content "\e61b"

glyph-cart()
  &:before
    glyph()
    content "\e61c"

glyph-cart-outline()
  &:before
    glyph()
    content "\e61d"

glyph-moon()
  &:before
    glyph()
    content "\e61e"

glyph-moon-outline()
  &:before
    glyph()
    content "\e61f"

glyph-thunderstorm()
  &:before
    glyph()
    content "\e620"

glyph-thunderstorm-outline()
  &:before
    glyph()
    content "\e621"

glyph-cloudy-outline()
  &:before
    glyph()
    content "\e622"

glyph-sunny()
  &:before
    glyph()
    content "\e623"

glyph-sunny-outline()
  &:before
    glyph()
    content "\e624"

glyph-people()
  &:before
    glyph()
    content "\e625"

glyph-people-outline()
  &:before
    glyph()
    content "\e627"

glyph-person()
  &:before
    glyph()
    content "\e628"

glyph-person-outline()
  &:before
    glyph()
    content "\e629"

glyph-location()
  &:before
    glyph()
    content "\e62a"

glyph-location-outline()
  &:before
    glyph()
    content "\e62b"

glyph-personadd()
  &:before
    glyph()
    content "\e62c"

glyph-email()
  &:before
    glyph()
    content "\e62f"

glyph-email-outline()
  &:before
    glyph()
    content "\e630"

glyph-paperplane()
  &:before
    glyph()
    content "\e631"

glyph-paperplane-outline()
  &:before
    glyph()
    content "\e632"

glyph-undo()
  &:before
    glyph()
    content "\e634"

glyph-undo-outline()
  &:before
    glyph()
    content "\e635"

glyph-redo()
  &:before
    glyph()
    content "\e636"

glyph-redo-outline()
  &:before
    glyph()
    content "\e637"

glyph-refresh-outline()
  &:before
    glyph()
    content "\e63a"

glyph-cog()
  &:before
    glyph()
    content "\e63b"

glyph-cog-outline()
  &:before
    glyph()
    content "\e63c"

glyph-browsers()
  &:before
    glyph()
    content "\e63d"

glyph-browsers-outline()
  &:before
    glyph()
    content "\e63e"

glyph-bolt()
  &:before
    glyph()
    content "\e63f"

glyph-bolt-outline()
  &:before
    glyph()
    content "\e641"

glyph-heart()
  &:before
    glyph()
    content "\e642"

glyph-printer()
  &:before
    glyph()
    content "\e645"

glyph-telephone()
  &:before
    glyph()
    content "\e646"

glyph-telephone-outline()
  &:before
    glyph()
    content "\e647"

glyph-monitor()
  &:before
    glyph()
    content "\e648"

glyph-monitor-outline()
  &:before
    glyph()
    content "\e649"

glyph-camera()
  &:before
    glyph()
    content "\e64a"

glyph-camera-outline()
  &:before
    glyph()
    content "\e64b"

glyph-film()
  &:before
    glyph()
    content "\e64c"

glyph-bell()
  &:before
    glyph()
    content "\e64e"

glyph-bell-outline()
  &:before
    glyph()
    content "\e64f"

glyph-musical-note()
  &:before
    glyph()
    content "\e650"

glyph-musical-notes()
  &:before
    glyph()
    content "\e651"

glyph-skipbackward()
  &:before
    glyph()
    content "\e652"

glyph-skipbackward-outline()
  &:before
    glyph()
    content "\e653"

glyph-skipforward()
  &:before
    glyph()
    content "\e654"

glyph-skipforward-outline()
  &:before
    glyph()
    content "\e655"

glyph-rewind()
  &:before
    glyph()
    content "\e656"

glyph-rewind-outline()
  &:before
    glyph()
    content "\e657"

glyph-pause-outline()
  &:before
    glyph()
    content "\e658"

glyph-pause()
  &:before
    glyph()
    content "\e659"

glyph-play()
  &:before
    glyph()
    content "\e65b"

glyph-volume-high()
  &:before
    glyph()
    content "\e65c"

glyph-volume-low()
  &:before
    glyph()
    content "\e65d"

glyph-mic-off()
  &:before
    glyph()
    content "\e65e"

glyph-mic-outline()
  &:before
    glyph()
    content "\e65f"

glyph-mic()
  &:before
    glyph()
    content "\e660"

glyph-cloud-upload()
  &:before
    glyph()
    content "\e661"

glyph-cloud-upload-outline()
  &:before
    glyph()
    content "\e662"

glyph-cloud-outline()
  &:before
    glyph()
    content "\e663"

glyph-arrow-forward()
  &:before
    glyph()
    content "\e664"

glyph-arrow-back()
  &:before
    glyph()
    content "\e665"

glyph-unlocked()
  &:before
    glyph()
    content "\e666"

glyph-unlocked-outline()
  &:before
    glyph()
    content "\e668"

glyph-locked()
  &:before
    glyph()
    content "\e669"

glyph-locked-outline()
  &:before
    glyph()
    content "\e66a"

glyph-minus-empty()
  &:before
    glyph()
    content "\e66b"

glyph-minus()
  &:before
    glyph()
    content "\e66c"

glyph-minus-outline()
  &:before
    glyph()
    content "\e66d"

glyph-folder-outline()
  &:before
    glyph()
    content "\e66e"

glyph-calendar()
  &:before
    glyph()
    content "\e66f"

glyph-calendar-outline()
  &:before
    glyph()
    content "\e670"

glyph-partlysunny-outline()
  &:before
    glyph()
    content "\e671"

glyph-cloudy()
  &:before
    glyph()
    content "\e672"

glyph-eye()
  &:before
    glyph()
    content "\e676"

glyph-videocam()
  &:before
    glyph()
    content "\e67b"

glyph-videocam-outline()
  &:before
    glyph()
    content "\e67c"

glyph-fastforward-outline()
  &:before
    glyph()
    content "\e67d"

glyph-play-outline()
  &:before
    glyph()
    content "\e67e"

glyph-cloud-download-outline()
  &:before
    glyph()
    content "\e67f"

glyph-cloud()
  &:before
    glyph()
    content "\e680"

glyph-arrow-up()
  &:before
    glyph()
    content "\e62d"

glyph-arrow-down()
  &:before
    glyph()
    content "\e62e"

glyph-arrow-right()
  &:before
    glyph()
    content "\e638"

glyph-arrow-left()
  &:before
    glyph()
    content "\e639"

glyph-chatbubble()
  &:before
    glyph()
    content "\e643"

glyph-chatbubble-outline()
  &:before
    glyph()
    content "\e644"

glyph-refresh()
  &:before
    glyph()
    content "\e673"

glyph-refresh-empty()
  &:before
    glyph()
    content "\e675"

glyph-filing-outline()
  &:before
    glyph()
    content "\e677"

glyph-compose()
  &:before
    glyph()
    content "\e678"

glyph-chatboxes()
  &:before
    glyph()
    content "\e679"

