highlight(fg, bg)
  color fg !important
  background bg !important
  border-color darken(bg, 25%) !important

  &:hover
    color lighten(fg, 15%)  !important
    background lighten(bg, 15%)  !important

success()
  highlight(colors-success-foreground, colors-success-background)

warn()
  highlight(colors-warn-foreground, colors-warn-background)

alert()
  highlight(colors-alert-foreground, colors-alert-background)

.success
  success()

.warn
  warn()

.alert
  alert()