pct(n)
  (floor(n * 100, 2))%

rem2px(n)
  (n * grid-unit)px

cell(width=1, gutter=true)
  display inline-block
  
  if gutter
    margin-right 4rem
    // escaping the operator tells stylus not to try
    // and do the math for us ...
    width "calc(%s - 4rem)" % pct(width)
  else
    margin-right 0
    width pct(width)

well()
  padding 2rem
  background lighten(silver, 80%)
  border-radius 0.5rem

center()
  // we're assuming here that we're the only thing on this "line"
  display block
  margin-left auto
  margin-right auto 


html *
  box-sizing border-box
