/*

  The theme file determines a number of basic variables for colors,
  sizes, etc., that are used throughout the Verse framework.

*/

// The grid-unit determines the size of the grid squares we're trying to
// align against. 
grid-unit = 9px

link-color = #393