rhythm(_ratio, _line-height)
  font-size (_line-height * _ratio)
  line-height _line-height

heading(size)
  font-weight: bold
  margin: 0
  padding: 0
  margin-bottom: 1rem
  rhythm 0.9 unit(size,'rem')
  body-font()


subtitle()
  font-weight: normal
  margin-top: -1rem

html
  font-size grid-unit

for n in 1..5
  h{n}
    heading (7 - n)

  if n < 6
    article h{n}
      heading (6 - n)

  if n < 4 
    aside article h{n}
      heading (4 - n)
  
  if n > 1
    h{n - 1} + h{n}
      subtitle()

  p + h{n}
    margin-top 2rem

p, li
  copy-font()
  margin-bottom 1rem

ul
  padding-left 2em


article
  p, li
    rhythm 0.6 3rem

aside article
  p, li
    rhythm 0.7 2rem


code
  background-color lighten(silver, 75%)
  color lighten(black, 25%)
  mono-font()
  font-size 90%
  padding-left: 0.5rem
  padding-right: 0.5rem
  padding-top: 0.1rem
  border-radius 0.3rem

pre
  background-color lighten(silver, 75%)
  padding 1rem
  border-radius 0.5rem

pre code
  background-color inherit
  border none
  rhythm 0.6 2rem
  padding-top: 0

blockquote
  margin-left: 0rem
  margin-bottom: 3rem
  padding-left: 2rem
  border-left: 3px solid silver

blockquote p
  rhythm 0.8 2rem

// code
//   color lighten(green, 10%)

// pre
//   background-color lighten(black, 5%)
//   padding 1rem
//   rhythm 0.8 2rem
//   border-radius 0.5rem