wireframe(orient="right")

  small
    display none
    width 18rem
    rhythm 0.5, 4rem
    notes-font()
    padding-top 2rem
    padding-bottom 2rem
    if orient is "right"
      left unquote("calc(100% + 5rem)")
      padding-left 2rem
      border-left 1px solid silver
      text-align left
    else
      left "calc(-5rem - %s)" % @width
      padding-right 2rem
      border-right 1px solid silver
      text-align right

    // TODO: convert all the uses of small to markdown
    p
      rhythm 0.5, 4rem
      notes-font()

  &:hover 

    small
      position absolute
      display inline-block
