@font-face {
  font-family: 'Wireframe';
  font-style: normal;
  font-weight: 400;
  src: local('Shadows Into Light Two'), local('ShadowsIntoLightTwo-Regular'), url(/fonts/shadows-into-light-2-regular.woff) format('woff');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'), url(/fonts/inconsolata.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(/fonts/montserrat-regular.woff) format('woff');
}

@font-face {
  font-family: 'Neutron';
  font-style: normal;
  font-weight: 300;
  src: local('Neutron Light'), local('Neutron-Light'), url(/fonts/neutron-light.woff) format('woff');
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 300;
  src: local('Muli Light'), local('Muli-Light'), url(/fonts/muli-light.woff) format('woff');
}
@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli'), url(/fonts/muli.woff) format('woff');
}
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 300;
  src: local('Muli Light Italic'), local('Muli-LightItalic'), url(/fonts/muli-lightitalic.woff) format('woff');
}
@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: 400;
  src: local('Muli Italic'), local('Muli-Italic'), url(/fonts/muli-italic.woff) format('woff');
}

// From http://ionicons.com/
@font-face {
  font-family: 'ionicons';
  src:url('/fonts/ionicons.eot');
  src:url('/fonts/ionicons.eot?#iefix') format('embedded-opentype'),
    url('/fonts/ionicons.ttf') format('truetype'),
    url('/fonts/ionicons.woff') format('woff'),
    url('/fonts/ionicons.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}