@import "_fonts"
@import "_theme"
@import "_modules"


a, a:visited, a:hover
  text-decoration none
  border-bottom 1px dotted colors-success-background
  color colors-success-background

header 
  margin-bottom 4rem
  background black
  color white
  padding 2rem
  border-radius 0.5rem

  h1
    font-family "Wireframe"
    rhythm 1 4rem

    a
      border-bottom none

      &:hover
        border-bottom none

    + h2
      font-family "Montserrat"
      rhythm 1 3rem

html
  padding-top 4rem

body
  width body-width
  margin auto
  background-color lighten(white, 10%)
  & > main
    vertical-align top
    margin-bottom 4rem

  & > aside
    vertical-align top
    margin-bottom 4rem

    & > article
      margin-bottom 4rem
