// adapted from https://github.com/murtaugh/HTML5-Reset

body
  font 13px Helmet, Freesans, sans-serif

body, select, input, textarea
  color #333

a
  color #03f
  &:hover
    color #69f
  &:link
    -webkit-tap-highlight-color #fcd700

::-moz-selection
  background #fcd700
  color #fff
  text-shadow none

::selection
  background #fcd700
  color #fff
  text-shadow none

ins
  background-color #fcd700
  color #000
  text-decoration none

mark
  background-color #fcd700
  color #000
  font-style italic
  font-weight bold

input
  &:-moz-placeholder
    color #a9a9a9

textarea
  &:-moz-placeholder
    color #a9a9a9
